
#archivo {
 font-family: Arial, Helvetica, sans-serif;
 position: relative;
}
/*
.congeladores:hover, .congeladores:focus {
  background-color: #2980B9;
}
.button.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
*/

.congeladores {
  list-style-type:none;
}

.estantes {
  display: none;
  position: relative;
  min-width: 160px;
  list-style-type:none;
}

.estantes.show {
  display: block;
}

.posicion_estante{
  display: none;
  position: relative;
  list-style-type:none;
}

.posicion_estante.show {
  display: block;
}

.racks{
    display: none;
    position: relative;
    list-style-type:none;
}
.racks.show {
    display: block;
}

.posicion_caja_rack{
    display: none;
    position: relative;
    list-style-type:none;
}
.posicion_caja_rack.show{
    display: block;
}
.cajas{
    display: none;
    position: relative;
    list-style-type:none;
}
.cajas.show{
    display: block;
}
.muestras{
    display: none;
    position: relative;
    list-style-type:none;
}
.muestras.show{
    display: block;
}