-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: localhost    Database: django_muestras
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `auth_group`
--

DROP TABLE IF EXISTS `auth_group`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
INSERT INTO `auth_group` VALUES (2,'Investigadores'),(1,'T├®cnicos de laboratorio');
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_group_permissions`
--

DROP TABLE IF EXISTS `auth_group_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_group_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_group_permissions_group_id_permission_id_0cd325b0_uniq` (`group_id`,`permission_id`),
  KEY `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_group_permissio_permission_id_84c5c92e_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_group_permissions_group_id_b120cbf9_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
INSERT INTO `auth_group_permissions` VALUES (2,1,25),(3,1,26),(4,1,27),(5,1,28),(6,1,29),(7,1,30),(8,1,31),(1,1,32),(15,1,33),(16,1,34),(17,1,35),(18,1,36),(9,2,28),(10,2,29),(12,2,37),(13,2,38),(14,2,39),(11,2,40);
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_permission`
--

DROP TABLE IF EXISTS `auth_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_permission` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `content_type_id` int NOT NULL,
  `codename` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_permission_content_type_id_codename_01ab375a_uniq` (`content_type_id`,`codename`),
  CONSTRAINT `auth_permission_content_type_id_2f476e4b_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user`
--

DROP TABLE IF EXISTS `auth_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user` (
  `id` int NOT NULL AUTO_INCREMENT,
  `password` varchar(128) NOT NULL,
  `last_login` datetime(6) DEFAULT NULL,
  `is_superuser` tinyint(1) NOT NULL,
  `username` varchar(150) NOT NULL,
  `first_name` varchar(150) NOT NULL,
  `last_name` varchar(150) NOT NULL,
  `email` varchar(254) NOT NULL,
  `is_staff` tinyint(1) NOT NULL,
  `is_active` tinyint(1) NOT NULL,
  `date_joined` datetime(6) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_groups`
--

DROP TABLE IF EXISTS `auth_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_groups` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `group_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_groups_user_id_group_id_94350c0c_uniq` (`user_id`,`group_id`),
  KEY `auth_user_groups_group_id_97559544_fk_auth_group_id` (`group_id`),
  CONSTRAINT `auth_user_groups_group_id_97559544_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`),
  CONSTRAINT `auth_user_groups_user_id_6a12ed8b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
INSERT INTO `auth_user_groups` VALUES (1,2,1),(2,3,2),(3,4,2);
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `auth_user_user_permissions`
--

DROP TABLE IF EXISTS `auth_user_user_permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `auth_user_user_permissions` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `permission_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `auth_user_user_permissions_user_id_permission_id_14a6b632_uniq` (`user_id`,`permission_id`),
  KEY `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` (`permission_id`),
  CONSTRAINT `auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`),
  CONSTRAINT `auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_admin_log`
--

DROP TABLE IF EXISTS `django_admin_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_admin_log` (
  `id` int NOT NULL AUTO_INCREMENT,
  `action_time` datetime(6) NOT NULL,
  `object_id` longtext,
  `object_repr` varchar(200) NOT NULL,
  `action_flag` smallint unsigned NOT NULL,
  `change_message` longtext NOT NULL,
  `content_type_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `django_admin_log_content_type_id_c4bce8eb_fk_django_co` (`content_type_id`),
  KEY `django_admin_log_user_id_c564eba6_fk_auth_user_id` (`user_id`),
  CONSTRAINT `django_admin_log_content_type_id_c4bce8eb_fk_django_co` FOREIGN KEY (`content_type_id`) REFERENCES `django_content_type` (`id`),
  CONSTRAINT `django_admin_log_user_id_c564eba6_fk_auth_user_id` FOREIGN KEY (`user_id`) REFERENCES `auth_user` (`id`),
  CONSTRAINT `django_admin_log_chk_1` CHECK ((`action_flag` >= 0))
) ENGINE=InnoDB AUTO_INCREMENT=210 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_content_type`
--

DROP TABLE IF EXISTS `django_content_type`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_content_type` (
  `id` int NOT NULL AUTO_INCREMENT,
  `app_label` varchar(100) NOT NULL,
  `model` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `django_content_type_app_label_model_76bd3d3b_uniq` (`app_label`,`model`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(14,'muestras','agenda_envio'),(16,'muestras','congelador'),(11,'muestras','documento'),(10,'muestras','envio'),(9,'muestras','estudio'),(13,'muestras','historial_estudios'),(12,'muestras','historial_localizaciones'),(8,'muestras','localizacion'),(7,'muestras','muestra'),(15,'muestras','registro_destruido'),(6,'sessions','session');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_migrations`
--

DROP TABLE IF EXISTS `django_migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_migrations` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `app` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `applied` datetime(6) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `django_session`
--

DROP TABLE IF EXISTS `django_session`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `django_session` (
  `session_key` varchar(40) NOT NULL,
  `session_data` longtext NOT NULL,
  `expire_date` datetime(6) NOT NULL,
  PRIMARY KEY (`session_key`),
  KEY `django_session_expire_date_a5c62663` (`expire_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_agenda_envio`
--

DROP TABLE IF EXISTS `muestras_agenda_envio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_agenda_envio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `lugar` varchar(200) NOT NULL,
  `direccion` longtext NOT NULL,
  `persona_contacto` varchar(200) DEFAULT NULL,
  `telefono_contacto` int DEFAULT NULL,
  `centro` varchar(200) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `centro` (`centro`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_agenda_envio`
--

LOCK TABLES `muestras_agenda_envio` WRITE;
/*!40000 ALTER TABLE `muestras_agenda_envio` DISABLE KEYS */;
INSERT INTO `muestras_agenda_envio` VALUES (1,'Madrid','C. de Jos├® Antonio Novais, 12, Moncloa - Aravaca, 28040 Madrid','Mario Them ├ülvarez',656766433,'Universidad Complutense');
/*!40000 ALTER TABLE `muestras_agenda_envio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_congelador`
--

DROP TABLE IF EXISTS `muestras_congelador`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_congelador` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `congelador` varchar(50) NOT NULL,
  `modelo` varchar(50) DEFAULT NULL,
  `temperatura_minima` varchar(50) DEFAULT NULL,
  `temperatura_maxima` varchar(50) DEFAULT NULL,
  `localizacion_edificio` varchar(50) DEFAULT NULL,
  `fotografia` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=52 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_congelador`
--

LOCK TABLES `muestras_congelador` WRITE;
/*!40000 ALTER TABLE `muestras_congelador` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_congelador` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_documento`
--

DROP TABLE IF EXISTS `muestras_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_documento` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `archivo` varchar(100) NOT NULL,
  `fecha_subida` datetime(6) NOT NULL,
  `categoria` varchar(50) DEFAULT NULL,
  `descripcion` longtext,
  `eliminado` tinyint(1) NOT NULL,
  `fecha_eliminacion` date DEFAULT NULL,
  `estudio_id` bigint NOT NULL,
  `usuario_subida_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `muestras_documento_estudio_id_cfbbbbce_fk_muestras_` (`estudio_id`),
  KEY `muestras_documento_usuario_subida_id_ac3ff6fd_fk_auth_user_id` (`usuario_subida_id`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_documento`
--

LOCK TABLES `muestras_documento` WRITE;
/*!40000 ALTER TABLE `muestras_documento` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_envio`
--

DROP TABLE IF EXISTS `muestras_envio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_envio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `volumen_enviado` double NOT NULL,
  `unidad_volumen_enviado` varchar(15) NOT NULL,
  `concentracion_enviada` double NOT NULL,
  `unidad_concentracion_enviada` varchar(15) NOT NULL,
  `centro_destino` varchar(100) NOT NULL,
  `lugar_destino` varchar(100) NOT NULL,
  `muestra_id` bigint NOT NULL,
  `fecha_envio` date NOT NULL,
  `usuario_envio_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `muestras_envio_muestra_id_b6b53308_fk_muestras_muestra_id` (`muestra_id`),
  KEY `muestras_envio_usuario_envio_id_71bddc85_fk_auth_user_id` (`usuario_envio_id`),
  CONSTRAINT `muestras_envio_muestra_id_b6b53308_fk_muestras_muestra_id` FOREIGN KEY (`muestra_id`) REFERENCES `muestras_muestra` (`id`),
  CONSTRAINT `muestras_envio_usuario_envio_id_71bddc85_fk_auth_user_id` FOREIGN KEY (`usuario_envio_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_envio`
--

LOCK TABLES `muestras_envio` WRITE;
/*!40000 ALTER TABLE `muestras_envio` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_envio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_estudio`
--

DROP TABLE IF EXISTS `muestras_estudio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_estudio` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_estudio` varchar(20) NOT NULL,
  `referencia_estudio` varchar(100) DEFAULT NULL,
  `nombre_estudio` varchar(100) NOT NULL,
  `descripcion_estudio` longtext,
  `fecha_inicio_estudio` date DEFAULT NULL,
  `fecha_fin_estudio` date DEFAULT NULL,
  `investigador_principal_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `muestras_estudio_id_estudio_324516d0_uniq` (`id_estudio`),
  UNIQUE KEY `muestras_estudio_nombre_estudio_e53a1621_uniq` (`nombre_estudio`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_estudio`
--

LOCK TABLES `muestras_estudio` WRITE;
/*!40000 ALTER TABLE `muestras_estudio` DISABLE KEYS */;
INSERT INTO `muestras_estudio` VALUES (4,'2','46','Prueba_2','es un estudio de prueba','2025-11-16','2025-12-25',3),(8,'48',NULL,'cerebelos','',NULL,NULL,4);
/*!40000 ALTER TABLE `muestras_estudio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_historial_estudios`
--

DROP TABLE IF EXISTS `muestras_historial_estudios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_historial_estudios` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_asignacion` date NOT NULL,
  `estudio_id` bigint NOT NULL,
  `muestra_id` bigint NOT NULL,
  `usuario_asignacion_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `muestras_historial_e_estudio_id_02ea1519_fk_muestras_` (`estudio_id`),
  KEY `muestras_historial_e_muestra_id_068c0f31_fk_muestras_` (`muestra_id`),
  KEY `muestras_historial_e_usuario_asignacion_i_8fefce06_fk_auth_user` (`usuario_asignacion_id`),
  CONSTRAINT `muestras_historial_e_estudio_id_02ea1519_fk_muestras_` FOREIGN KEY (`estudio_id`) REFERENCES `muestras_estudio` (`id`),
  CONSTRAINT `muestras_historial_e_muestra_id_068c0f31_fk_muestras_` FOREIGN KEY (`muestra_id`) REFERENCES `muestras_muestra` (`id`),
  CONSTRAINT `muestras_historial_e_usuario_asignacion_i_8fefce06_fk_auth_user` FOREIGN KEY (`usuario_asignacion_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=68 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_historial_estudios`
--

LOCK TABLES `muestras_historial_estudios` WRITE;
/*!40000 ALTER TABLE `muestras_historial_estudios` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_historial_estudios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_historial_localizaciones`
--

DROP TABLE IF EXISTS `muestras_historial_localizaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_historial_localizaciones` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha_asignacion` date NOT NULL,
  `localizacion_id` bigint DEFAULT NULL,
  `muestra_id` bigint NOT NULL,
  `usuario_asignacion_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `muestras_historial_l_muestra_id_03e28104_fk_muestras_` (`muestra_id`),
  KEY `muestras_historial_l_usuario_asignacion_i_1cd52144_fk_auth_user` (`usuario_asignacion_id`),
  KEY `muestras_historial_l_localizacion_id_9ffe69c6_fk_muestras_` (`localizacion_id`),
  CONSTRAINT `muestras_historial_l_localizacion_id_9ffe69c6_fk_muestras_` FOREIGN KEY (`localizacion_id`) REFERENCES `muestras_localizacion` (`id`),
  CONSTRAINT `muestras_historial_l_muestra_id_03e28104_fk_muestras_` FOREIGN KEY (`muestra_id`) REFERENCES `muestras_muestra` (`id`),
  CONSTRAINT `muestras_historial_l_usuario_asignacion_i_1cd52144_fk_auth_user` FOREIGN KEY (`usuario_asignacion_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_historial_localizaciones`
--

LOCK TABLES `muestras_historial_localizaciones` WRITE;
/*!40000 ALTER TABLE `muestras_historial_localizaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_historial_localizaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_localizacion`
--

DROP TABLE IF EXISTS `muestras_localizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_localizacion` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `congelador` varchar(50) DEFAULT NULL,
  `estante` varchar(50) DEFAULT NULL,
  `posicion_rack_estante` varchar(50) DEFAULT NULL,
  `rack` varchar(50) DEFAULT NULL,
  `posicion_caja_rack` varchar(50) DEFAULT NULL,
  `caja` varchar(50) DEFAULT NULL,
  `subposicion` int DEFAULT NULL,
  `muestra_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `muestras_localizacion_muestra_id_congelador_es_44380566_uniq` (`muestra_id`,`congelador`,`estante`,`posicion_rack_estante`,`rack`,`posicion_caja_rack`,`caja`,`subposicion`),
  KEY `muestras_localizacion_muestra_id_678e6fa0` (`muestra_id`),
  CONSTRAINT `muestras_localizacio_muestra_id_678e6fa0_fk_muestras_` FOREIGN KEY (`muestra_id`) REFERENCES `muestras_muestra` (`nom_lab`)
) ENGINE=InnoDB AUTO_INCREMENT=2156 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_localizacion`
--

LOCK TABLES `muestras_localizacion` WRITE;
/*!40000 ALTER TABLE `muestras_localizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_localizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_muestra`
--

DROP TABLE IF EXISTS `muestras_muestra`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_muestra` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `id_individuo` varchar(20) NOT NULL,
  `nom_lab` varchar(100) NOT NULL,
  `id_material` varchar(20) DEFAULT NULL,
  `volumen_actual` double DEFAULT NULL,
  `unidad_volumen` varchar(15) DEFAULT NULL,
  `concentracion_actual` double DEFAULT NULL,
  `unidad_concentracion` varchar(15) DEFAULT NULL,
  `masa_actual` double DEFAULT NULL,
  `unidad_masa` varchar(15) DEFAULT NULL,
  `fecha_extraccion` date DEFAULT NULL,
  `fecha_llegada` date DEFAULT NULL,
  `observaciones` longtext,
  `estado_inicial` varchar(50) DEFAULT NULL,
  `centro_procedencia` varchar(100) DEFAULT NULL,
  `lugar_procedencia` varchar(100) DEFAULT NULL,
  `estado_actual` varchar(50) DEFAULT NULL,
  `estudio_id` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `nom_lab` (`nom_lab`),
  KEY `muestras_muestra_estudio_id_e20babed_fk_muestras_` (`estudio_id`),
  CONSTRAINT `muestras_muestra_estudio_id_e20babed_fk_muestras_` FOREIGN KEY (`estudio_id`) REFERENCES `muestras_estudio` (`nombre_estudio`)
) ENGINE=InnoDB AUTO_INCREMENT=1881 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_muestra`
--

LOCK TABLES `muestras_muestra` WRITE;
/*!40000 ALTER TABLE `muestras_muestra` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_muestra` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `muestras_registro_destruido`
--

DROP TABLE IF EXISTS `muestras_registro_destruido`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `muestras_registro_destruido` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `muestra_id` bigint NOT NULL,
  `usuario_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `muestras_registro_de_muestra_id_2eec7191_fk_muestras_` (`muestra_id`),
  KEY `muestras_registro_destruido_usuario_id_e98cccdf_fk_auth_user_id` (`usuario_id`),
  CONSTRAINT `muestras_registro_de_muestra_id_2eec7191_fk_muestras_` FOREIGN KEY (`muestra_id`) REFERENCES `muestras_muestra` (`id`),
  CONSTRAINT `muestras_registro_destruido_usuario_id_e98cccdf_fk_auth_user_id` FOREIGN KEY (`usuario_id`) REFERENCES `auth_user` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `muestras_registro_destruido`
--

LOCK TABLES `muestras_registro_destruido` WRITE;
/*!40000 ALTER TABLE `muestras_registro_destruido` DISABLE KEYS */;
/*!40000 ALTER TABLE `muestras_registro_destruido` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-02 22:14:14
