{% extends "master.html" %}

{% block title %}
Agenda
{% endblock %}

{% block content %}
<a href="/muestras"> Volver a la lista de muestras </a>
<h1>Centros de envio</h1>
<a href="/muestras/nuevo_centro"> Añadir un centro de envio</a>
<form action="{% url 'eliminar_centro' %}" method="post">
     {% csrf_token %} 
    <button type="submit" class="btn btn-primary" value = "true" id='eliminar' name ='eliminar' onclick="return confirm('¿Quieres eliminar los centros seleccionados?')">Eliminar centros seleccionados</button>
    <table>
        <tr>
            <th>Seleccionar</th>
            <th>Editar</th>
            <th>Centro</th>
            <th>Lugar</th>
            <th>Dirección</th>
            <th>Persona de contacto</th>
            <th>Teléfono de contacto</th>
            <th>¿Enviar?</th>
        </tr>
            {% for contacto in agenda %}
            <tr>
                <td><input type="checkbox" name="ids_centro" value ="{{contacto.id}}" class="form-control"></td>
                <td><a href="agenda/editar/{{contacto.id}}">Editar centro</a></td>
                <td>{{ contacto.centro }}</td>
                <td>{{ contacto.lugar }}</td>
                <td>{{ contacto.direccion }}</td>
                <td>{{ contacto.persona_contacto }}</td>
                <td>{{ contacto.telefono_contacto }}</td>
                <td><a href="agenda/{{contacto.id}}/envio">Enviar</a></td>
                <td></td>
            </tr>
            {% endfor %}
    </table>
</form>
{% endblock %}