{% if messages %}
  {% for message in messages %}
        {{ message }}<br>
  {% endfor %}
{% endif %}
<p>¿Desea subir el archivo excel?</p>
<form method="post" action="">
    {% csrf_token %}
    <button type ="submit" name="confirmar" value="true" class="btn btn-success">Confirmar</button>
    <button type ="submit" name="cancelar" value="true" class="btn btn-success">Cancelar</button>
</form>
<form action="">
    <input name="exportar_excel" type="submit" class="btn btn-success" value="Exportar excel de los errores encontrados">
</form>