{% if messages %}
  {% for message in messages %}
        {{ message }}<br>
  {% endfor %}
{% endif %}
<p>Se ha creado un excel en el que se marcan las filas del excel original según los errores encontrados:</p>
<li>En rojo, si la muestra no existe en la base de datos, alguno de los campos obligatorios no se ha rellenado(indicando cual con un comentario) o hay un problema con la localización.</li>
<p>Todos los errores se detallan en la columna "Errores"</p>
<p>Este excel de errores NO se debe de subir directamente a la hora de cambiar la localización de las muestras</p>
<form method="post" action="">
  {% csrf_token %}
  <button name="excel_errores" type="submit" class="btn btn-success">Descargar excel con errores</button>
</form>
<p>¿Desea subir el archivo excel?</p>
<form method="post" action="">
    {% csrf_token %}
    <button type ="submit" name="confirmar" class="btn btn-success">Confirmar</button>
    <button type ="submit" name="cancelar"  class="btn btn-success">Cancelar</button>
</form>
