{% if messages %}
  {% for message in messages %}
        {{ message }}<br>
  {% endfor %}
{% endif %}
<!-- Página de confirmación para la subida de un excel para añadir estudios -->
<h1>Confirmación de subida de excel para añadir estudios</h1>
<p>Se ha creado un excel en el que se marcan las filas del excel original según los errores encontrados:</p>
<li>En rojo, si el estudio ya existe en la base de datos o dentro del excel, y si las fechas tienen un formato incorrecto.</li>
<li>En amarillo, si alguno de los campos no obligatorios están vacios.</li>
<p>Las filas con errores amarillos no se añadirán a la base de datos.</p>
<p>No utilizar este excel de errores generados para subir nuevos estudios.</p>
<form method="post" action="">
  {% csrf_token %}
  <button name="excel_errores" type="submit" class="btn btn-success">Descargar excel con errores</button>
</form>
<p>¿Desea subir el archivo excel?</p>
<form method="post" action="">
    {% csrf_token %}
    <button type ="submit" name="confirmar" class="btn btn-success">Confirmar</button>
    <button type ="submit" name="cancelar"  class="btn btn-success">Cancelar</button>
</form>
<p><a href="/estudios"> Volver a todos los estudios</a></p>