{% extends "master.html" %}

{% block title %}
Lista de estudios del investigador
{% endblock %}
{% load static %}
{% block content %}
<link rel ="stylesheet" href="{% static 'estudios_todos.css' %}">
<div class="acciones-estudios">
    <a href="/" class="accion-btn accion-secundaria">
        ⬅ Volver al inicio
    </a>

    <a href="/estudios/nuevo" class="accion-btn accion-primaria">
        ➕ Nuevo estudio
    </a>
</div>

<div class="table-container">
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Referencia</th>
                <th>Nombre</th>
                <th class="wrap-text">Descripción</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Investigador principal</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
        {% for estudio in estudios %}
            <tr>
                <td>{{ estudio.id_estudio }}</td>

                <td>{{ estudio.referencia_estudio|default:"—" }}</td>

                <td>{{ estudio.nombre_estudio }}</td>

                <td class="wrap-text">
                    {{ estudio.descripcion_estudio|default:"—" }}
                </td>

                <td>{{ estudio.fecha_inicio_estudio|default:"—" }}</td>

                <td>{{ estudio.fecha_fin_estudio|default:"—" }}</td>

                <td>{{ estudio.investigador_principal|default:"—" }}</td>

                <td>
                    <a href="/estudios/{{estudio.id_estudio}}" class="chip-detalle">
                        📄 Documentación
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{%endblock%}