{% extends "master.html" %}

{% block title %}
Envio de Muestras
{% endblock %}
<!-- Formulario para registrar un nuevo envío de muestras -->
{% block content %}
<a href="/muestras"> Volver a la lista de muestras </a><br>
<h1>Registrar un nuevo envio</h1>
<p>Si prefiere registrar el envio a través de un excel, puede hacerlo desde el siguiente <a href="{% url 'upload_excel_envios' centro.id %}">enlace</a></p>
<form method="post" action="{% url 'registrar_envio' centro.id %}">
    {% csrf_token %}
    Centro de destino: {{centro.centro}}
    Lugar de destino: {{centro.lugar}}
    <table>
        <tr>
            <th>Número de muestra</th>
            <th>Volumen actual</th>
            <th>Concentración actual</th>
            <th>Volumen a enviar</th>
            <th>Concentración a enviar</th>
        </tr>
        {% for muestra in muestras %}
        <tr>
            <td>{{ muestra.nom_lab }}</td>
            <td>{{ muestra.volumen_actual }} {{muestra.unidad_volumen}}</td>
            <td>{{ muestra.concentracion_actual }} {{muestra.unidad_concentracion}}</td>
            <td><input type="number" required="True" step="0.01" min = "0" max = "{{muestra.volumen_actual}}" name="volumen_enviado">{{muestra.unidad_volumen}}</td>
            <td><input type="number" required="True" step="0.01" min = "0" name="concentracion_enviada">{{muestra.unidad_concentracion}}</td>
        </tr>
        {% endfor %}
    </table>
    <input type="submit" value="Registrar envio">
</form>
{% endblock %}