{% extends "master.html" %}

{% block title %}
Historial de envios
{% endblock %}

{% block content %}
<a href="/muestras"> Volver a la lista de muestras </a><br>
<h1>Historial de envios de la muestra {{ muestra.nom_lab }}</h1>
<table>
    <tr>
        <th>Fecha de envio</th>
        <th>Centro de destino</th>
        <th>Lugar de destino</th>
        <th>Volumen enviado</th>
        <th>Concentración enviada</th>
    </tr>
    {% for envio in envios %}
    <tr>
        <td>{{ envio.fecha_envio }}</td>
        <td>{{ envio.centro_destino }}</td>
        <td>{{ envio.lugar_destino }}</td>
        <td>{{ envio.volumen_enviado }} {{ envio.unidad_volumen_enviada }}</td>
        <td>{{ envio.concentracion_enviada }} {{ envio.unidad_concentracion_enviada }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}