{% extends "master.html" %}

{% block title %}
Historial de localizaciones
{% endblock %}

{% block content %}
<a href="/muestras"> Volver a la lista de muestras </a><br>
<h1>Historial de localizaciones de la muestra {{ muestra.nom_lab }}</h1>
<p>Llegada al laboratorio: {{muestra.fecha_llegada}}</p>
<p>Centro de procedencia: {{muestra.centro_procedencia}}</p>
<p>Estado actual: {{muestra.estado_actual}}</p>

<table>
    <tr>
        <th>Localizacion</th>
        <th>Fecha de asignación</th>
        <th>Usuario</th>
    </tr>
    {% for localizacion in historiales %}
    <tr>
        {% if localizacion.localizacion == None %}
        <td>Localización eliminada</td>
        {% else %}
        <td>{{ localizacion.localizacion }}</td>
        {% endif %}
        <td>{{ localizacion.fecha_asignacion }}</td>
        <td>{{ localizacion.usuario_asignacion.username }}</td>
    </tr>
    {% endfor %}
    {% if muestra.estado_actual == 'Destruida'%}
        <td>Destruida</td>
        <td>{{ estado_destruccion.fecha }}</td>
        <td>{{ estado_destruccion.usuario.username }}</td>
    {% endif %}
</table>
{% endblock %}