{% extends "master.html" %}

{% block title %}
Subir archivo Excel con las localizaciones nuevas
{% endblock %}
<!-- Formulario para subir un archivo Excel con nuevas localizaciones -->
{% block content %}
<h2>Subir archivo Excel</h2>
Utilizando la siguiente <a href="{% url 'descargar_plantilla_localizaciones_macros' macro=1 %}" download="plantilla_localizaciones_macros.xlsm">plantilla</a>, cuyas instrucciones de uso se encuentran en la hoja 2 del excel. 
Si, las macros del excel dan errores, utilizar esta <a href="{% url 'descargar_plantilla_localizaciones' macro=0 %}" download="plantilla_localizaciones.xlsx">plantilla</a>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Upload excel</button>
</form>
<p><a href="/archivo"> Volver al archivo</a></p>
{% endblock %}