{% extends "master.html" %}

{% block title %}
Lista de Muestras
{% endblock %}

{% block content %}
<p><a href="/"> Volver al inicio </a></p>

<caption>Muestras</caption>
  
<table>
  <tr>
    <th>ID Individuo</th>
    <th>Nombre asignado por el laboratorio</th>
    <th>Localización</th>
    <th>Detalles</th>
  </tr>
  {% for x in muestras %}
  <tr>
    <td>{{ x.id_individuo }}</td>
    {% with locs=x.localizacion.all %}
    {% if locs %}
    {% with y=locs.first %}
    <td>{{y.congelador}}-{{y.estante}}-{{y.posicion_rack_estante}}-{{y.rack}}-{{y.posicion_caja_rack}}-{{y.caja}}-{{y.subposicion}}</td>
    {% endwith %}
    {% else %}
    <td>Sin localización asignada</td>
    {% endif %}
    <td><a href='detalles_muestra/{{x.id_individuo}}/{{ x.nom_lab }}'>Detalles</a></td>
  </tr>
  {% endwith %}
  {% endfor %}
</table>
<a href="/muestras/nueva"> Añadir nueva muestra </a>
<form action="{% url 'logout' %}" method="post">
{% csrf_token %} 
<p><button type="submit">Logout</button></p>
</form>
{% endblock %}