{% extends "master.html" %}

{% block title %}
Lista de Muestras
{% endblock %}

{% block content %}
<p><a href="/"> Volver al inicio </a></p>

<caption>Muestras</caption>

<form action="" id="filter-form"> 
  {% for field in field_names %} 
  <input name={{field}} class="form-control"> {{field}}<br>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Filtrar</button>
</form> 

<form action="" method="GET" style="display:inline;">
    {% for key, value in request.GET.items %}
        {% if key != 'crear_pdf' %}
            <input type="hidden" name="{{ key }}" value="{{ value }}">
        {% endif %}
    {% endfor %}
    <input name="crear_pdf" type="submit" class="btn btn-success" value="Crear PDF de la Búsqueda">
</form>

<table>
  <tr>
    <th>Eliminar</th>
    <th>ID Individuo</th>
    <th>Nombre asignado por el laboratorio</th>
    <th>Localización</th>
    <th>Detalles</th>
  </tr>
  <form action="">
  <input type ="button" value="Seleccionar todo" onclick="seleccionar_todo(true)"/>
  <input type ="button" value="Deseleccionar todo" onclick="seleccionar_todo(false)"/>
  <script language="JavaScript">
    function seleccionar_todo(valor) {
      checkboxes = document.getElementsByTagName('input');
      for (var i=0; i<checkboxes.length; i++) {
        if (checkboxes[i].type == 'checkbox')
          checkboxes[i].checked = valor;
      }
    }
  </script>
  {% for x in muestras %}
  <tr>
    <td><input type="checkbox" name="{{x.id}}" class="form-control"></td>
    <td>{{ x.id_individuo }}</td>
    <td>{{ x.nom_lab }}</td>
    {% with y=x.localizacion.all %}
    {% if y %}
    <td>{{y.congelador}}-{{y.estante}}-{{y.posicion_rack_estante}}-{{y.rack}}-{{y.posicion_caja_rack}}-{{y.caja}}-{{y.subposicion}}</td>
    {% else %}
    <td>Sin localización asignada</td>
    {% endif %}
    {% endwith %}
    <td><a href='detalles_muestra/{{x.id_individuo}}/{{ x.nom_lab }}'>Detalles</a></td>
  </tr>
  {% endfor %}
  <button type="submit" class="btn btn-primary" id='eliminar'>Eliminar muestras seleccionadas</button>
</form>
</table>
<a href="/muestras/nueva"> Añadir nuevas muestras </a> <br>
<a href="/muestras/upload_excel"> Subir archivo excel de muestras</a>
<form action="{% url 'logout' %}" method="post">
{% csrf_token %} 
<p><button type="submit">Logout</button></p>
</form>
{% endblock %}