{% extends "master.html" %}

{% block title %}
Datos prueba
{% endblock %}

{% block content %} 

<h1>Base de datos de prueba</h1>
<p>Esta es una base de datos de las muestras del instituto catalán de oncología, </p>
<p>para acceder a todas las funcionalidades es necesario iniciar sesión.</p>
<p><a href ="/muestras"> Ver muestras</a></p>
<p><a href ="/archivo"> Ver archivo de muestras</a></p>
<p><a href ="/estudios">Ver estudios</a></p>
{% if user.is_authenticated %}
<p> Usuario: {{ user.username }} </p>
<form action="{% url 'logout' %}" method="post">
{% csrf_token %} 
<p><button type="submit">Logout</button></p>
</form>
{% else %}
<p><a href="accounts/login/"> Iniciar sesión </a></p>
{% endif %}
{% endblock %}