{% extends "master.html" %}

{% block title %}
Repositorio de documentación del estudio {{estudio.id_estudio}}
{% endblock %}

{% block content %}
<p><a href="/"> Volver a las muestras </a></p>
<p><a href="/estudios"> Volver a la lista de estudios</a></p>
<p><a href="/estudios/{{id}}/subir"> Subir un documento nuevo</a></p>

<table>
    <tr>
        <th>Archivo</th>
        <th>Fecha de subida</th>
        <th>Categoria</th>
        <th>Subido por</th>
        <th>Descripción</th>
    </tr>
    <form action ="{% url 'eliminar_documento' %}" method="post">
    {% csrf_token %}    
    {%for doc in documentos%}
    <tr>
        <td><a href="/estudios/{{id}}/{{doc.id}}">Descargar</a></td>
        <td>{{doc.fecha_subida}}</td>
        <td>{{doc.categoria}}</td>
        <td>{{doc.usuario_subida.username}}</td>
        <td>{{doc.descripcion}}</td>
        <td><input type="checkbox" class="form-control" name="doc_id" value="{{doc.id}}"></td>
    </tr>
    {%endfor%}
    <button type="submit" class="btn btn-primary" id='eliminar' onclick="return confirm('¿Quieres eliminar los documentos seleccionados?')">Eliminar documentos seleccionados</button>
</form>
{% endblock %}