{% extends "master.html" %}

{% block title %}
Subir archivo Excel
{% endblock %}
{% block content %}
<h2>Subir archivo Excel</h2>
Utilizando la siguiente <a href="{% url 'descargar_plantilla_muestras' macro=2 %}" download="plantilla_muestras.xlsx">plantilla</a>, en la cual están marcadas en rojo las columnas obligatorias 
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input name="upload_excel" type="submit" class="btn btn-success" value="Upload excel">
</form>
<p><a href="/muestras"> Volver a todas las muestras</a></p>
{% endblock %}