{% extends "master.html" %}

{% block title %}
Subir archivo Excel
{% endblock %}
{% block content %}
<!-- Formulario para subir un archivo Excel con cambios de posición -->
<h2>Subir archivo excel para cambiar posiciones</h2>
Utilizando la siguiente <a href="{% url 'descargar_plantilla_muestras' macro=4 %}" download="plantilla_cambio_posicion.xlsx">plantilla</a>, en la cual todas las columnas son obligatorias. 
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <input name="upload_excel" type="submit" class="btn btn-success" value="Upload excel">
</form>
<p><a href="/muestras"> Volver a todas las muestras</a></p>
{% endblock %}