{% extends "master.html" %}

{% block title %}
Subir archivo Excel, utilizando la siguiente <a href="datos_prueba/muestras/Plantilla_muestras.xlsx" download="plantilla_muestras.xlsx">plantilla</a>
{% endblock %}

{% block content %}
<h2>Subir archivo Excel</h2>
{% if messages %}
  {% for message in messages %}
        {{ message }}<br>
  {% endfor %}
{% endif %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Upload excel</button>
</form>
<p><a href="/muestras"> Volver a todas las muestras</a></p>
{% endblock %}